/* CSS Document */
/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #000000;
	background-color: #cacaca;
	border: 1px solid #999999;
	
	-moz-border-radius:0px 8px 8px 8px;
	-webkit-border-radius:0px 0px 8px 8px;
	behavior:url(border-radius.htc);
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #fff;
	padding:3px;
	color:#000000;
	background-color: #DEDEDE;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #f1f1f1;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #E0E0E0;
	border: 1px solid #888888;
	cursor: pointer;
	color: #000000;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	background:none
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	background:none
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #999999;
	border: 1px solid #AAAAAA;
	color: #fff;
	font-weight:bold;
	padding:3px;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	padding:5px;
	color: #000;
	font-weight: bold;
	border:1px solid #ffffff;
	background: #999999;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior:url(border-radius.htc);
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: #ffffff;
	font-weight: bold;
	background:#343434;
	padding:3px;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background: #e1e1e1;
	font-weight: bold;
	padding: 3px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	
	font-weight: bold;
	padding:3px;
	text-transform:uppercase;
	width:100px;
	border:1px solid #ffffff;
	background: #cccccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior:url(border-radius.htc);
	}
